nav .brand-logo {
    font-size: 2.6rem;
}

.icon {
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    overflow: hidden;

    /*font-size: 3rem;*/
}

nav .icon {
    vertical-align: -0.15em;
}

ul {
    margin-top: 0;
}

li span {
  font-size: 0.8em;
}

.footer-copyright .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
}
.footer-copyright i {
  vertical-align: -0.2em;
}
.footer-copyright .container a {
    color: whitesmoke;
}
.footer-copyright .container a:hover {
    color: antiquewhite;
}
