* {
    /*border: dashed 2px hotpink !important;*/
}

/* mobile first */

body {
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    padding: 20px;
}

/* header style */
header h1 {
    color: cornflowerblue;
    font-size: 13vw;
}
header h2 {
    color: #aaa;
    font-size: 4vw;
    margin-left: 6px;
}
header address {
    margin-top: 20px;
    margin-left: 6px;
    font-size: 3vw;
    line-height: 2.4vh;
}


section {
    margin-top: 8vw;
}
main section h2 {
    font-size: 8vw;
    font-variant: small-caps;
}
main section h3 {
    margin: 0 0 0.5vw 0;
    font-size: 5vw;
    font-variant: small-caps;
}
main section h4 {
    color: #666;
    font-size: 2.6vw;
}

main section span {
    color: #666666;
    font-size: 2.4vw;
    line-height: 2.6vh;
    font-style: italic;
}

article {
    margin: 4vw 0;
}
article li {
    margin: 2vw 4vw;
    font-size: 3vw;
    list-style: disc;
}


a {
    color: #888;
}
a:hover {
    color: orangered;
}

span {
    color: lightskyblue;
}




