html {
    background-color: #ddd;
}
body {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    padding: 60px;
}

header h1 {
    font-size: 4rem;
}
header h2 {
    color: #aaa;
    font-size: 1.8rem;
}
header address {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

section {
    margin-top: 3rem;
}
main section h2 {
    font-size: 4rem;
}
main section h3 {
    font-size: 2.4rem;
}
main section h4 {
    color: #666;
    font-size: 1.2rem;
}
main section span {
    font-size: 1.2rem;
}

article {
    margin: 2.4rem 0;
}
article li {
    margin: 1.2rem 1.8rem;
    font-size: 1.4rem;
}