body {
    padding: 40px;
}
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
}
header section {
    margin-top: 0;
    width: 60%;
}
header address {
    width: 40%;
    text-align: right;
}

header h1 {
    font-size: 8vw;
}
header h2 {
    color: #aaa;
    font-size: 2.6vw;
}
header address {
    font-size: 2vw;
    line-height: 1.4rem;
    margin: 0;
}


section {
    margin-top: 8vw;
}
main section h2 {
    font-size: 6vw;
}
main section h3 {
    font-size: 4vw;
}
main section h4 {
    font-size: 2.2vw;
}
main section span {
    font-size: 2.4vw;
}

article li {
    font-size: 2.4vw;
}
